:root {
  --primary-color: #0dcaf0;
  /* --secondary-color: ; */
  --text-color: #878787;
  /* --background-color: #f8fcfb; */
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  text-align: center;
  font-size: small;
  font-size: 12px;
  margin: 10px 0;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}
.App a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
