:root {
  --primary-color: #0dcaf0;
  /* --secondary-color: ; */
  --text-color: #878787;
  /* --background-color: #f8fcfb; */
}

.Weather {
  margin: 30px auto;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  max-width: 600px;
  padding: 20px;
  align-items: center;
  border: 1px solid #0dcaf0;
  border-radius: 10px;
  /* background-color: var(--background-color); */
}

.Weather h1,
h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
}

.Weather h3 {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.Weather li {
  list-style: none;
  text-transform: capitalize;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .form-control {
  color: var(--text-color);
}

.Weather .btn-info {
  color: var(--text-color);
}

.Weather .current-data {
  margin: 20px 0;
  text-align: left;
  padding-left: 0px;
  font-weight: 600;
  line-height: 20px;
}

.Weather .current-weather {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--text-color);
}
